.button {
  @apply rounded-small px-4 py-2 font-bold transition-all;
  &--primary {
    background-color: var(--awc-button-primary-bg-color-default);
    color: var(--awc-button-primary-text-color-default);

    &:hover {
      background-color: var(--awc-button-primary-bg-color-hover);
      color: var(--awc-button-primary-text-color-hover);
    }
  }
  &--secondary {
    border-color: var(--awc-button-primary-bg-color-default);
    color: var(--awc-button-secondary-text-color-default);

    &:hover {
      border-color: var(--awc-button-primary-bg-color-hover);
      color: var(--awc-button-secondary-text-color-hover);
    }
  }
}
